@model MVC_Tutorial_04.Models.TblUser

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>TblUser</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CUserName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CUserName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CUserAccout)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CUserAccout)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CUserPassword)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CUserPassword)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CUserMail)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CUserMail)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CCreatorId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CCreatorId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CCreatorDt)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CCreatorDt)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.CUserId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
